{{#if userEmail}}
  <div class="app-center-content">
    <div class="app-card-1 app-card-center">
      <h2 class="page-header">Change Password of {{userEmail}}</h2>
    </div>
  </div>
{{else}}
  <div class="app-card-1 app-panel-super-small">
    <h2 class="page-header">Change Password</h2>
  </div>
{{/if}}

<div class="app-card-1 app-panel-smaller">
  <form data-parsley-validate action="/account/password" method="POST" class="form-horizontal ajax">
    <input type="hidden" name="_csrf" value="{{_csrf}}">
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">New Password</label>
      <div class="col-sm-8">
        <input type="password" name="password" id="password" class="form-control" required autocomplete="nope"/>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
      <div class="col-sm-8">
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
               data-parsley-equalto="#password" required autocomplete="nope"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button type="submit" class="btn btn-main"><i class="fa fa-text fa-lock"></i>Change Password</button>
      </div>
    </div>
  </form>
</div>

<div id="pageId">page-change-password</div>
