<div class="app-card-1 app-panel-small">
  <p>
    <b>
      Two-sided Marketplace
    </b>
  </p>
  <p>
    This is a simple demo of a two-sided marketplace payment processors adapted for US market.
  </p>
  <p>
    It allows you to process payments and payouts from single administrator panel.
  </p>
  <p>
    Features:<br/>
    <ul>
      <li>Dashboard with all transactions</li>
      <li>Create and share invoices with your customers</li>
      <li>Create and share payouts with your vendors</li>
      <li>Accept payments by wire or ACH credit transfers</li>
      <li>Accept payments by credit and debit cards using Stripe</li>
    </ul>
  </p>
  <p>
    Example industries where it can be used:<br/>
    <ul>
      <li>Accounting services</li>
      <li>Marketing services</li>
      <li>Construction services</li>
      <li>Cleaning services</li>
      <li>B2B businesses</li>
      <li>Car rentals</li>
      <li>House rentals</li>
      <li>Wholesalers</li>
    </ul>
  </p>
  <p>
    More <a href="https://github.com/konrad-g/simple-marketplace" class="app-link ajax">information</a>.
  </p>
  <p>
    Created by Konrad Gadzinowski - <a href="mailto:kgadzinowski@gmail.com">kgadzinowski@gmail.com</a>
  </p>
</div>

<div id="pageId">page-landing</div>
