<div class="page-with-padding">
  <div class="app-card app-card-header">
    <h3>{{message}}</h3>
  </div>

  <div class="app-card app-panel-medium">
    <p><strong>Whoops...</strong></p>
    <p>{{error.status}}</p>
    <p>{{error.stack}}</p>
  </div>
</div>
