@mixin box-shadow($offset, $blur) {
  -webkit-box-shadow: $offset $offset $blur 0px #AFAFAF;
  -moz-box-shadow: $offset $offset $blur 0px #AFAFAF;
  box-shadow: $offset $offset $blur 0px #AFAFAF;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin corner-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

.app-card-button {
  background-color: #232323;
  color: #FFF;
  min-height: 10px;
  min-width: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
  display: block;
  border: 1px #AFAFAF solid;
  text-align: left;
  transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  transform: transale3d(0,0,0);
  position: relative;
  @include box-shadow(3px, 1px);
  @include corner-radius(6px);
}

.app-card-button, .app-card-button a, .app-card-button img, .app-card-button h4  {
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.app-card-button a,
.app-card-button a:hover,
.app-card-button a:active
.app-card-button a:visited,
.app-card-button a:link{
  display: flex;
  text-decoration: none;
  color: #FFF;
}

.app-card-button .app-title-left {
  display: flex;
  line-height: 30px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.app-card-button .app-title-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.app-card-button.app-card-button-header-button-left {
  margin: 0;
  position: absolute;
  top: 2px;
  left: -3px;
}

.app-card-button:hover {
  @include box-shadow(4px, 1px);
}

.app-card-button:active {
  @include box-shadow(0px, 0px);
}


/* Desktops and tablets */
@media all and (min-width: 768px) {

  .app-card-button.app-inline {
    display: inline-block !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .app-card-button a  {
    padding: 5px;
  }
}

/* Phone */
@media all and (max-width: 767px) {

  .app-card-button.app-inline {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .app-card-button.app-inline a {
    max-width: 300px;
  }

  .app-card-button a  {
    padding: 10px;
  }
}